:root {
  /* colors */
  --primary-50: #f9faf9;
  --primary-100: #f3ad3c;
  

  /* fonts  */
  --headingFont: 'Roboto Condensed', Sans-Serif;
  --bodyFont: 'Proxima Nova', Sans-Serif;

  /* rest of the vars */
  --textColor: var(--primary-50);

}