:root {
  /* colors */
  --primary-50: #f9faf9;
  --primary-100: #f3ad3c;

  /* fonts  */
  --bodyFont: "system-ui";

  /* rest of the vars */
  --textColor: var(--primary-50);
}

h1 {
  font-family: var(--bodyFont);
}
